*{
	padding: 0;
	margin: 0;
}
:root {
	--main-color: #fff;
	--main-bgcolor: #FF6565;
	--para-size:  16px;
	--font-size: 17px;
	--font-fam: arial;
}

header{
	background: url('./images/headerBg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	font-family: var(--font-fam);
}

.navigation-menu{
	display: flex;
	justify-content: space-around;
	padding-top: 20px;
	margin-bottom: 20px;
}

.logo img{
	width: 80%;
}

.nav-link ul{
	display: flex;
	list-style: none;
}

.nav-link ul li{
	margin: 15px;
}
.nav-link ul li a{
	font-size: var(--font-size);
	color: var(--main-color);
	text-decoration: none;
}


.nav-link ul li a:hover{
	color: var(--main-bgcolor);
}
.resp-btn{
	display: grid;
}
.resp-btn span{
	font-size: 50px;
	color: var(--main-color);
	display: none;
	cursor: pointer;
}


.head-description{
	margin-top: 240px;
	text-align: center;
}

.head-description h1{
	font-family: var(--font-fam);
	color: var(--main-color);
	margin-bottom: 10px;
}

.head-description p{
	font-size: var(--para-size);
	letter-spacing: 1px;
	color: var(--main-color);
}

.head-description button{
	color: var(--main-color);
	padding: 16px 25px;
	font-size: var(--font-size);
	border-radius: 25px;
	border: none;
	background: var(--main-bgcolor);
	margin: 40px;
	cursor: pointer;
}

.header-body{
	text-align: center;
	margin: 10px auto;
	width: 40%;
}

.header-body p{
	color: var(--main-color);
	font-size: var(--para-size);
	line-height: 1.4;
}

@media (max-width: 768px){
	header{
		height: 100%;
		width: 100%;
	}
	.nav-link{
		display: none;
	}
	.resp-btn span{
		display: block;
	}

	.header-body{
		width: 90%;
	}
}
